@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-3);
    padding: 0 1%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 128px 1fr;
    grid-template-areas: "logo logo menu menu menu menu menu menu option option" 
    "product product product product product content content content content content";
    column-gap: 2%;
    row-gap: 3%;
}
header{
    display: contents;
}
header .div__logo{
    grid-area: logo;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
header .div__logo img{
    object-fit: contain;
}

header nav{
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul{
    display: flex;
    justify-content: center;
    gap: 33px;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    font-family: "Inter_28pt-SemiBold";
    color: var(--color-1);
    font-size: 28px;
}

header .div__option{
    grid-area: option;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 19%;
    gap: 12%
}
header .div__option img{
    object-fit: cover;
}
main{
    display: contents;
}
main .section__product{
    position: relative;
    grid-area: product;
    height: 86svh;
    align-items: flex-end;
}
main .section__product article{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--color-1);
}

main .section__product article p:nth-child(1){
    font-family: "SeaweedScript-Regular";
    font-size: 24px;
}

main .section__product article p:nth-child(2){
    font-family: "Lalezar-Regular";
    font-size: 64px;
    line-height: 80%;
}
main .section__product article p:nth-child(3){
    font-family: "Lalezar-Regular";
    font-size: 32px;
    line-height: 60%;
}

main .section__product > img:nth-child(2){
    position: absolute;
    transform: rotate(32.69deg);
    z-index: -1;
    bottom: 0;
    left: -135px;
}
main .section__product > img:nth-child(3){
    position: absolute;
    transform: rotate(57.18deg);
    z-index: 2;
    bottom: -125px;
    left: 25px;
}
main .section__product > img:nth-child(4){
    position: absolute;
    transform: rotate(85.74deg);
    z-index: 1;
    bottom: -255px;
    left: 20px;
}

main .section__contentt{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
    justify-content: center;
    padding-right: 67px;
}

main .section__contentt article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-1);
    padding: 0 0 69px 0;

}

main .section__contentt article h1{
    font-family: "Inter_28pt-SemiBold";
    font-size: 69.56px;
}

main .section__contentt article p:nth-child(2){
    font-family: "lalezar-regular";
    font-size: 32px;
}

main .section__contentt article p:nth-child(3){
    font-family: "Inder-Regular";
    font-size: 24px;
    padding: 10px;
    width: 628px;
}

main .section__contentt a{
    text-decoration: none;
    background-color: var(--color-2);
    color: var(--color-1);
    font-family: "inder-regular";
    font-size: 24px;
    padding: 19px 34px;
    border-radius: 10px;
}
@media (max-width: 440px){
    body{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 95px) 50px 1fr;
        grid-template-areas: "logo logo logo" 
                            "menu menu menu"
                            "option option option"
                            "product product product"
                            "content content content";
        padding: 4% 1%;
        row-gap: 1%;
    }
    header .div__logo{
        align-items: center;
        justify-content: center;
        grid-area: logo;
    
    }
    header nav{
        grid-area: menu;
    }

    header nav ul{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap: 10px;
        justify-content: normal;
    }
    header nav ul > li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        min-width: 40%;
    }
    header nav ul li a{
        width: 150px;
        text-align: center;
        display: block;
    }
    header .div__option{
        grid-area: option;
        display: flex;
        height: 28px;
        align-items: center;
        justify-content: center;
        gap: 2%;
        padding: 0;
    }
    main .section__product{
        grid-area: product;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        height: 80svh;
        overflow-x: hidden;
    }
    main .section__product article{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    main .section__product img:nth-child(2),
    main .section__product img:nth-child(3),
    main .section__product img:nth-child(4){
        position: absolute;
        height: 500px;
        bottom: 0;
        inset:0;
        margin: auto;
        
    }
    main .section__product > img:nth-child(2){
        position: absolute;
        transform: rotate(-10deg);
        left: -50%;

    }
    main .section__product > img:nth-child(3){
        position: absolute;
        transform: rotate(40deg);
        z-index: -1;
        right: -50%;
    }
    main .section__product > img:nth-child(4){
        position: absolute;
        transform: rotate(375deg);
    }
}